<section>
    <app-hero></app-hero>
    <section>
        <app-my-services></app-my-services>
    </section>

    <section>
        <app-tech></app-tech>
    </section>

    <section>
        <app-pricing></app-pricing>
    </section>

    <section>
        <app-solutions></app-solutions>
    </section>
    <section>
        <app-projects></app-projects>
    </section>

    <section>
        <app-consulting></app-consulting>
    </section>

    <section>
        <app-contact></app-contact>
    </section>

    <section>
        <app-enviromental></app-enviromental>
    </section>